@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
}
html body.dark #app {
  @apply bg-dark_medium_bg;
}

html body #app {
  @apply bg-white_bg;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.ariaOption[aria-selected="true"] {
  @apply dark:bg-dark_medium_bg;
}

.inputCalendar input {
  width: 100%;
}

.selectMaquina {
  width: 100% !important;
}

div.maximixed {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0;
  overflow-y: auto;
}

html body.dark #app *.darkBgComponents {
  background-color: #222831 !important;
}

.fc-h-event{
  background-color: transparent;
  border:none;
}

.fc .fc-button-primary{
  @apply bg-white dark:bg-dark_medium_bg text-black dark:text-white
}

.fc-today-button{
  background:transparent;
  @apply text-black dark:text-white;
  border: none;
}
.fc .fc-button-primary:disabled{
  border: none;
}