@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --darkMode: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.dark body {
  background: var(--darkMode);
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
