@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
}
html body.dark #app {
  @apply bg-dark_medium_bg;
}

html body #app {
  @apply bg-white_bg;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.ariaOption[aria-selected="true"] {
  @apply dark:bg-dark_medium_bg;
}

.inputCalendar input {
  width: 100%;
}

.selectMaquina {
  width: 100% !important;
}

div.maximixed {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0;
}

html body.dark #app *.darkBgComponents {
  background-color: #222831 !important;
}
